.home-header{
    width: 100%;
    height: 76vh;
    background-image: url('../images/home.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headindex{
    z-index: 999;
}

.header-content{
    color: whitesmoke;
    text-align: center;
    padding-top: 30px;
}

.header-content a{
    text-decoration: none;
    color: white;
}

.header-content h2{
    font-size: 4vmin;
}

.header-content button{
    width: 105px;
    height: 30px;
    background-color: black;
    font-size: 15px;
    margin-top: 20px;
}